.title {
    font-size: 24px;
}

.content { 
    background-color: #efefef;
    border-radius: 10px;
}
 .content p {
font-size: 20px;
 }

.destaque {
    font-weight:bold;
    background-color:#8f8; 
}

.box {
    display: flex;
    border: 1px solid;
    flex-direction: row;
}
.box-inside {
    height: 100px;
    width: 290px;
/*    float: left;*/
    border: 1px solid #333;
}