/* 
Tasks: Thiaguinho
- Centralizar o texto utilizando a classe .copyright
- Alterar o tamanho da fonte para 20px utilizando a classe .copyright
- Alterar a cor da fonte para #fff utilizando a classe .copyright
*/
.footer{
    background-color: #336633;/*cor de fundo*/
    margin-top: 20px;/*borda arredondada*/
    border-radius: 10px;/*centralizar texto*/
}